alembic==1.17.1
bcrypt==5.0.0
blinker==1.9.0
boto3==1.40.64
botocore==1.40.64
celery[redis]==5.3.4
click==8.3.0
coverage==7.11.0
cryptography==42.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
Flask==3.1.2
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==5.21.0
flower==2.0.1
gunicorn==23.0.0
hvac==2.1.0
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
kafka-python==2.2.15
Mako==1.3.10
MarkupSafe==3.0.3
marshmallow==4.1.0
packaging==25.0
pluggy==1.6.0
psycopg2==2.9.11
psycopg2-binary==2.9.11
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.2
pytest-cov==7.0.0
pytest-flask==1.3.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
redis==4.6.0
s3transfer==0.14.0
six==1.17.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.3
msal==1.24.0
requests-oauthlib==1.3.1
